[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "alembic>=1.17.2",
    "psycopg2-binary>=2.9.11",
    "uvloop==0.22.1",
]
